# dependencies
react-app/node_modules

# testing
react-app/coverage

# production
react-app/build

# misc
react-app/.DS_Store
react-app/.env
react-app/npm-debug.log*
react-app/yarn-debug.log*
react-app/yarn-error.log*